body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 14px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.first_part {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-bottom: 50px;
}

.left_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.bigger_text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0;
}

.smaller_text {
    font-size: 18px;
    color: #f9faf8;
}

.click {
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    background: #3882f6;
    width: 100px;
    padding: 8px 16px;
}

.picture {
    
    height: 220px;
    width: 400px;
    padding-right: 150px;
    padding-top: 50px;
}

.second_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.main_second {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.icons {
    display: flex;
    gap: 130px;
    max-width: 200px;
    justify-content: center;
    font-size: 18px;
}

.third_part {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.testemonial {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    inline-size: 835px;
    margin-bottom: 0px;
}

.name {
    margin-right: -500px;
    font-weight: 600;
    font-size: 20px;
}

.fourth_part {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 80px 150px;
    padding: 20px 50px;
    align-items: center;
    border-radius: 8px;
}


.apply {
    font-weight: 600;
    font-size: 20px;
    color: #f9faf8
}
.text_action {
    color: #f9faf8;
    font-size: 18px;
}

.action_button {
    border:2px solid #f9faf8;
    border-radius: 10px;
    font-size: 16px;
    color: #e5e7eb;
    font-weight: 550;
    background-color: #3882f6;
    height: 40px;
    width: 100px;
    padding: 8px 16px;
}